<div class="header">
  <div class="page-content">
    <div class="dicekeys-logo">
      <!-- safari doesn't auto-scale height from width, so... 
					throwing.png = 1024x1587, so height = width * 1.5498046875, 45vw width => 49.86vw height -->
      <img style="width: 4.5vw; height: 6.974vw; margin-top: 0vw" src="./assets/images/from-left.png" />
      <div class="logo-titles">
        <h1 class="dice-keys-font" style="font-size: 4vw; font-weight: 700">{{ site.title }}</h1>
        <h2 style="font-size: 1.5vw; margin-top: -0.25vw">Security keys you create by rolling dice</h2>
      </div>
    </div>
  </div>
</div>

<img
  style="
    position: absolute;
    z-index: 512;
    top: 0px;
    right: 0px;
    width: 45vw;
    height: 49.86vw;
    max-width: 45vh;
    max-height: 49.86vh;
  "
  src="./assets/images/throwing.png"
/>
