{% capture title %}
    {% if page.title %}
        {{ site.title | append: " | "| append: page.title }}
    {% else %}
        {{ site.title | escape }}
    {% endif %}
{% endcapture %}

{% capture img %}
    {% if page.img %}
        {{ page.img }}
    {% else %}
        {{ site.metaImage }}
    {% endif %}
{% endcapture %}

<!-- HEAD -->
<head>
    <title>{{ title }}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="icon" href="/assets/favicons/favicon.svg">

    <meta content="{{ site.title }}" property="og:site_name" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ img }}" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />




    <!-- CSS -->
    <link href="/assets/styles/index.css" rel="stylesheet">
</head>